/* .spacing{
    margin-top:20px !important;
} */
.borderColor{
    border-left: 1px solid white;
    padding-left: 2px;
}
/* .align-right{
    float:right !important;
    display: flex !important;
}

.customBorderRight{
    border-right: 2px solid right !important;
} */